.messenger {
  height: 100vh;
  display: flex;
  background-color: #f0f2f5;
}

/* IZQUIERDA */
.chatMenu {
  flex: 3.5;
  background-color: white;
  border-right: 1px solid #ddd;
}
.chatMenuWrapper { padding: 10px; }
.conversation {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}
.conversation:hover { background-color: #eee; }
.conversationImg { width: 40px; height: 40px; border-radius: 50%; object-fit: cover; margin-right: 20px; }
.conversationName { font-weight: 500; }

/* DERECHA (CHAT) */
.chatBox { flex: 8.5; }
.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.chatHeader { padding: 10px; background: white; border-bottom: 1px solid #ddd; }

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
}
.message { display: flex; flex-direction: column; margin-top: 20px; }
.messageTop { display: flex; }
.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
}
.messageBottom { font-size: 12px; margin-top: 5px; color: gray; }

/* Mensajes propios (derecha) */
.message.own { align-items: flex-end; }
.message.own .messageText { background-color: #e4e6eb; color: black; }

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}
.chatMessageInput { width: 80%; height: 50px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; resize: none; }
.chatSubmitButton { width: 70px; height: 40px; border: none; border-radius: 5px; cursor: pointer; background-color: teal; color: white; }
.noConversationText { position: absolute; top: 20%; font-size: 50px; color: rgb(224, 220, 220); cursor: default; width: 100%; text-align: center; }

.back-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}